*/bin/*
*/obj/*
*/packages/*
examples/Nethouse.UnitOfWork.BookDomain.Tests/bin/Debug/EntityFramework.xml
examples/Nethouse.UnitOfWork.BookDomain.Tests/obj/Debug/Nethouse.UnitOfWork.BookDomain.Tests.csproj.FileListAbsolute.txt
examples/Nethouse.UnitOfWork.BookDomain.Tests/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
examples/Nethouse.UnitOfWork.BookDomain.Tests/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
examples/Nethouse.UnitOfWork.BookDomain.Tests/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
examples/Nethouse.UnitOfWork.BookDomain/bin/Debug/EntityFramework.SqlServer.xml
examples/Nethouse.UnitOfWork.BookDomain/bin/Debug/EntityFramework.xml
examples/Nethouse.UnitOfWork.BookDomain/bin/Debug/Nethouse.UnitOfWork.BookDomain.dll.config
examples/Nethouse.UnitOfWork.BookDomain/obj/Debug/Nethouse.UnitOfWork.BookDomain.csproj.FileListAbsolute.txt
examples/Nethouse.UnitOfWork.BookDomain/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
examples/Nethouse.UnitOfWork.BookDomain/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
examples/Nethouse.UnitOfWork.BookDomain/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
examples/Nethouse.UnitOfWork.Demo/bin/Debug/EntityFramework.SqlServer.xml
examples/Nethouse.UnitOfWork.Demo/bin/Debug/EntityFramework.xml
examples/Nethouse.UnitOfWork.Demo/bin/Debug/Nethouse.UnitOfWork.Demo.exe.config
examples/Nethouse.UnitOfWork.Demo/bin/Debug/Nethouse.UnitOfWork.Demo.vshost.exe.config
examples/Nethouse.UnitOfWork.Demo/bin/Debug/Nethouse.UnitOfWork.Demo.vshost.exe.manifest
examples/Nethouse.UnitOfWork.Demo/obj/Debug/Nethouse.UnitOfWork.Demo.csproj.FileListAbsolute.txt
examples/Nethouse.UnitOfWork.Demo/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
examples/Nethouse.UnitOfWork.Demo/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
examples/Nethouse.UnitOfWork.Demo/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
packages/EntityFramework.6.1.3/content/App.config.transform
packages/EntityFramework.6.1.3/content/Web.config.transform
packages/EntityFramework.6.1.3/EntityFramework.6.1.3.nupkg
packages/EntityFramework.6.1.3/lib/net40/EntityFramework.SqlServer.xml
packages/EntityFramework.6.1.3/lib/net40/EntityFramework.xml
packages/EntityFramework.6.1.3/lib/net45/EntityFramework.SqlServer.xml
packages/EntityFramework.6.1.3/lib/net45/EntityFramework.xml
packages/EntityFramework.6.1.3/tools/about_EntityFramework.help.txt
packages/EntityFramework.6.1.3/tools/EntityFramework.psd1
packages/EntityFramework.6.1.3/tools/EntityFramework.psm1
packages/EntityFramework.6.1.3/tools/init.ps1
packages/EntityFramework.6.1.3/tools/install.ps1
